/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-green: #00cc14;

  --text-color: var(--color-black, #000000);
  --background-color: var(--color-white, #ffffff);
  --button-text-color: var(--color-white, #ffffff);

  --main-font-mamily: "Inter", sans-serif;
  --accent-font-family: "PressStart2P", sans-serif;

  --font-weight-title: 700;
  --font-weight-text: 400;

  --page-background-image: repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    linear-gradient(to bottom, #e7e7e7, #e7e7e7 0.01%, #1a1a1a 100%);

  --sparks: #ff0000;
}
